<!doctype html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <h2>About this blog</h2>

  <p>Welcome! This is the index page of a blog about crossword puzzles, data, and language.</p>

  <p>If you're a casual solver or constructor of crossword puzzles, this blog might be for you. We'll look at common answers, bad answers, trendy answers, the grid, and more. Hopefully you'll come away with some new ideas backed up by data. If you're a linguist or a statistician, you may find some things oversimplified. I'm not an expert. I'd love to hear from you if you are! And to the seasoned crossword aces out there, maybe these posts will confirm what you already know about how words behave (and misbehave) when you box them in.</p>

  <h3>Further reading</h3>

  <p>If you're interested in crossword puzzles and data, there's no shortage of resources. For an insightful look at how crosswords reflect our society and tips on writing more equitable puzzles, check out this <a href="https://pudding.cool/2020/11/crossword/">great read</a> by Michelle McGhee with Russell Goldenberg and Jan Diehm on The Pudding. For a buffet of crossword-specific stats, history, and content, check out <a href="https://www.xwordinfo.com/">xwordinfo.com</a>, created by Jim Horne and operated by Jeff Chen. They also have a trove of puzzle data stretching all the way back to 1942. For even more data, there's <a href="https://xd.saul.pw/">xd.saul.pw</a> by Saul Pwanson, where you can find three decades and counting of crossword data spanning something like 25 different publishers.</p>

  <h3>Data sources</h3>

  <p>The crossword data in this blog come from the New York Times Crossword daily puzzles published between 1993 and 2021.</p>

  <p>The english language data mostly come from a <a href="https://github.com/IlyaSemenov/wikipedia-word-frequency">frequency list of english wikipedia words gathered in 2019</a>.</p>

  <h3>Graphs and tables</h3>

  <p>This blog will feature a lot of graphs or charts like the one below. To save on data, they won't come preloaded. Click the button to load in the data as you read. Try it out on this table of common answers:</p>

  <table-loader data-id="mostFrequentAnswers" data-src="api/figures/mostFrequentAnswers"></table-loader>

  <h3>Posts</h3>

  <% if (articles && articles.length > 0) { %>
    <ul>
      <% articles.forEach((article) => { %>
        <li><a href="/<%= article.filename %>"><%= article.title %></a></li>
      <% }); %>
    </ul>
  <% } %>

  By <a href="https://legnes.github.io/my/">Sam Engel</a>

  <script src="js/table-loader.js"></script>
</body>
</html>
