<p>Use the graph below to see how answer usage has changed over time. Click the "load data" button to load the graph. Then you can type in your own list of words to look up and press "reload" to see the results. The list should be comma-separated, like <code>one,two,three</code>. You can include <code>*</code> in a word to create a pattern: <code>d*wn</code> will get both <code>down</code> and <code>dawn</code>. For more frequency-over-time data, check out Google Books's <a href="https://books.google.com/ngrams">n-gram viewer</a>!</p>

<graph-loader data-id="frequencyOverTime" data-src="api/figures/frequencyOverTime">
  <form is="query-param-form">
    <label>search terms <input is="query-param-input" data-query-param="search" type="text" value="sdi,dsl,omg"></label>
  </form>
</graph-loader>
