<p>We take a look at new answers to make the crossword and old standards that no longer see use.</p>

<h3>The dictionary</h3>

<p>It can be easy to harp on the answers we see over and over in the puzzle. But what about <em>new</em> answers? How fast is the crossword puzzle's dictionary growing?</p>

<graph-loader data-id="uniqueAnswersOverTime" data-src="api/figures/uniqueAnswersOverTime">
  <graph-log-axis-checkbox></graph-log-axis-checkbox>
</graph-loader>

<p>This curve is a little remeniscent of Herdan's (or Heaps') law. Remember that a handful of answers appear in the puzzle very often, and a large number of words only appear once or twice. As we go through the corpus puzzle by puzzle, keeping track of which answers we've seen, we'd expect to come across a lot of the high-frequency answers pretty quickly, but for it to take a while for us to find all the low-frequency answers. That's essentially what Herdan's law is getting at. Qualitativley it says we'll find new answers very quickly at first, and then slower and more steadily later. Quantitatively, it says:</p>

<p><em>V = kN<sup>h</sup></em></p>

<p>where <em>V</em> is the size of the vocabulary, the number of unique answers we've come across, <em>N</em> is the size of the corpus, the total number of answers in all the puzzles we've looked at, and <em>k</em> and <em>h</em> are experimental constants, where <em>h</em> is usually less than 1. It's worth noticing that Herdan's law applies to any subdivision of a corpus. So for example if we had a corpus of encyclopedia articles, we could look at unique words vs. total words <em>for each article separately</em>, rather than accumulating across articles <a href="https://royalsocietypublishing.org/doi/10.1098/rsos.200008">[REF]</a>. But subdividing over time works too!</p>

<p>So if the pool of answers is steadily increasing, has the variety of answers gone up with it? Due to the NYT crossword's daily publication, regular sizing, and maximum number of answers in any given puzzle, its vocabulary shouldn't vary too wildly. But in theory constructors have more answers to choose from, right?</p>

<graph-loader data-id="dictionarySizeOverTime" data-src="api/figures/dictionarySizeOverTime">
  <form is="query-param-form">
    <span>timescale:</span>
    <label>years <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="year"></label>
    <label>months <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="month" checked></label>
    <label>days <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="day"></label>
  </form>
</graph-loader>

<p>It doesn't seem like there's any strong trend. Partly that's because, just as answers are "born", they also "die out". Here are answer births and deaths over time.</p>

<graph-loader data-id="countBirthsDeathsOverTime" data-src="api/figures/countBirthsDeathsOverTime">
  <graph-log-axis-checkbox data-axes="y"></graph-log-axis-checkbox>
  <form is="query-param-form">
    <label>lifetime usage threshold <input is="query-param-input" data-query-param="thresh" type="number" min="1" value="1"></label>
    <span>timescale:</span>
    <label>years <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="year"></label>
    <label>months <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="month" checked></label>
    <label>days <input is="query-param-input" data-query-param="timescale" type="radio" name="timescale" value="day"></label>
  </form>
</graph-loader>

<p>This graph is a little hard to read because of Herdan's law -- the dictionary grows very quickly at first, and it decays very quickly for the same reason. It's hard to tell if birth and death rates have changed over time. One way to see through the steep curve is with random shufflings. If we were to shuffle up the puzzles, pretending they were published in a different order than they really were, we'd get a slightly different graph of answer births over time. If we repeatedly shuffled the puzzles and averaged their birth curves, we'd get a statistically "expected" birth curve. Then we could compare our <em>actual</em> curve to the expected one <a href="https://royalsocietypublishing.org/doi/10.1098/rsos.200008">[REF]</a> (similar analysis, TODO reread this) (TODO do this analysis?).</p>

<p>One reason we care about birth and death rates is that they tell us about our society. Languages change faster during wartime, and correlates to social and technological trends, local cultural factors, etc. <a href="https://www.nature.com/articles/srep00313">[REF]</a> <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4176592/">[REF]</a>.</p>

<p>Another reason we care about the birth rate is that it tells us how often we see brand new answers cropping up in the puzzle. And it's a lot, easily 5-10 new answers a day! Let's take a look at some of the answers that have come and gone.</p>

<h3>Answer deaths</h3>

<p>Here's a list of once-common answers that disappeared some time ago.</p>

<table-loader data-id="oldestDeadWords" data-src="api/figures/oldestDeadWords">
  <form is="query-param-form">
    <label>lifetime usage threshold <input is="query-param-input" data-query-param="thresh" type="number" min="2" value="3"></label>
  </form>
</table-loader>

<p>There are a few interesting cases - ALAR and SDI haven't been in the news for decades, and evidently constructors stopped using MASSA and KKK for fill in 2002. But many are simply obscure trivia like BAUD, SARTO, and CEBU. A look at dying answers begs the question: how long do answers usually live for?</p>

<graph-loader data-id="wordLongevity" data-src="api/figures/wordLongevity">
  <form is="query-param-form">
    <label>lifetime usage threshold <input is="query-param-input" data-query-param="thresh" type="number" min="1" value="1"></label>
  </form>
</graph-loader>

<h3>Answer births</h3>

<p>Here's the flip side: most recent answers to be introduced.</p>

<table-loader data-id="mostRecentNewWords" data-src="api/figures/mostRecentNewWords">
  <form is="query-param-form">
    <label>lifetime usage threshold <input is="query-param-input" data-query-param="thresh" type="number" min="2" value="3"></label>
  </form>
</table-loader>

<p>And for another angle, here are the "top answers" from each year.</p>

<table-loader data-id="topNewWordsByYear" data-src="api/figures/topNewWordsByYear">
  <form is="query-param-form">
    <label>lifetime usage threshold <input is="query-param-input" data-query-param="thresh" type="number" min="2" value="3"></label>
  </form>
</table-loader>

<p>Almost all of the ususal word birth patterns are represented. There are neologisms (DADBOD, BAE, SELFIE), loanwords (NIHAO, BENTO, ASANAS), acronyms (EGOT, RBG, IPAS), abbreviations (MICS, OLINE, APBIO), and portmanteaus/affixes (MATHLETE, ENEWS, BREXIT). Find your favorites!</p>

<h3>Caveats</h3>

<p>One thing to note is that the relationship between frequency distribution and Herdan's law is pretty complicated, and the mathematical form of Herdan's law is itself contested, so I oversimplified a lot in this article <a href="https://arxiv.org/abs/1412.4577">[REF]</a> <a href="https://royalsocietypublishing.org/doi/10.1098/rsos.200008">[REF]</a>.</p>

<p>The only other thing to mention is that there's a <em>ton</em> of good reading on language change out there, I'll list some here.</p>

<ul>
  <li><a href="https://www.nature.com/articles/nature06176">High-frequency words change more slowly</a></li>
  <li><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0019009">On shorter time scales, dissemination among users and applicability across topics reflects whether the word will survive. [words are pretty clumped among users and topics -- suggests a look at word clumping by author]</a></li>
  <li><a href="https://www.nature.com/articles/srep00313">Languages change faster during wartime, and relate to social and technological trends, local cultural factors</a> (also mentioned <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4176592/">here</a>)</li>
  <li><a href="http://www.uvm.edu/pdodds/research/papers/others/2010/michel2010a.pdf">this is just a good paper</a></li>
  <li><a href="https://www.nature.com/articles/srep00313">This paper</a> quantifiable birth and death rates average of the median lifetime relative use for words born/died each year.</li>
  <li><a href="http://www.uvm.edu/pdodds/research/papers/others/2010/michel2010a.pdf">this</a> fame by name frequency, e.g. age when fame.</li>
</ul>

<p>That's all!</p>
