<p>Answer repetition isn't necessarily a bad thing, and it's certainly not unique to crosswords. It may seem odd to have predictable answers in a test of general knowledge, but it happens all the time. Pub trivia or quiz bowl regulars probably know which keywords point towards Crécy vs. Agincourt, and fans of Jeopardy! will tell you to study up on Cincinnati slugger Pete Rose to help your chances (his nickname "Charlie Hustle" alone has come up <a href="https://j-archive.com/search.php?search=pete+rose&submit=Search#:~:text=hustle">seven times</a>). But some crossword answers take things too far...</p>

<h3>Frequent crossword Answers</h3>

<p>No matter which crossword publisher you like best, odds are that after you solve a handful of puzzles, you'll start noticing repeated answers. Probably they're short, vowel-heavy words like ERA, ORE, and ALOE. These are the most commonly-used crossword puzzle answers.</p>

<table-loader data-id="mostFrequentAnswers" data-src="api/figures/mostFrequentAnswers">
  <form is="query-param-form">
    <label>min answer length <input is="query-param-input" data-query-param="lengthThresh" type="number" value="3"></label>
  </form>
</table-loader>

<p>These repeated answers depend a lot on their makeup as <em>words</em>, regardless of if they're linguistically or conceptually obscure. They get called names like "<a href="https://www.nytimes.com/2018/06/13/crosswords/how-to-make-a-crossword-fill.html#:~:text=bad%20fill">bad fill</a>" and "<a href="https://en.wikipedia.org/wiki/Crosswordese">crosswordese</a>". In this post, we'll take a look at how answer length affects repetition.</p>

<h3>Linguistic laws</h3>

<p>The first electronic collection of language data was published in 1961 as the "Brown University Standard Corpus of Present-Day American English," or the Brown Corpus. Long before then, linguists had been trying to identify, model, and explain patterns in observed language. But with computers at our disposal, it's gotten easier to double check, build upon, generalize, and refine those theories. Some of them turn out to apply across a surprising range of language collections (corpora) and contexts. Take Menzerath's law. In 1928, Paul Menzerath suggested that longer German words are often made up of shorter syllables. The concept was refined and generalized to other linguistic phenomena (e.g. longer sentences comprise shorter clauses) by Menzerath himself in 1954 and Gabriel Altmann in 1980. Many such observations have been quantified and codified into similar models -- things like the brevity Law, Zipf's Law, and Heaps' (aka Herdan's) Law.</p>

<h3>Word frequency</h3>

<p>A number of quantitative linguistic observations relate to word frequency. After all, when you've got a big collection of language, one of the easiest ways to chop it up is by word. And one of the easiest things to do with a whole bunch of words is to count them! It's a lot harder to try and tag things like part of speech, harder still to quantify linguistic contexts. And then there's feature scale -- you could look at syllables or clauses or sentences or...yikes. Still, we shouldn't totally discount the usefulness of word frequency. After all, people have written whole books about it! <a href="#ref1">[1]</a> <a href="#ref2">[2]</a>. And it just so happens that word - or answer - frequency is exactly what we're interested in!</p>

<h3>Brevity law</h3>

<p>The brevity law advises (qualitatively) that common words tend to be shorter. Check out the table up above and you'll see that the most common words are all three or four letters long. You can play around with the "minimum answer length" input to see how the frequency drops off as length goes up.</p>

<p>A common way to measure tendencies is using a correlation test <a href="#ref3">[3]</a>. First, we plot every distinct answer's length vs its frequency:</p>

<graph-loader data-id="lengthFrequency" data-src="api/figures/lengthFrequency"></graph-loader>

<p>The x-axis shows answer length. The y-axis shows the log (base 10) of word frequency (so 1 is really 10, 2 is really 100, etc.). The brighter a box's color, the more words have that length and that frequency (color is also on a log 10 scale). Right away it seems like we're on to something. As answer length goes up past three, the most common frequency for words of that length goes down. We can run a statistical test to see how monotonic (Spearman) or linearly related (Pearson) the data are -- in other words, how reliably does the graph point roughly down and to the right?</p>

<table-loader data-id="lengthFrequencyCorrelations" data-src="api/figures/lengthFrequencyCorrelations"></table-loader>

<p>Just like we'd expect, both the Pearson and Spearman tests show a significant negative correlation between length and frequency.</p>

<h3 id="pmf">The probability mass function</h3>

<p>I'm going to take a quick detour through the weeds. If you're not interested, feel free to jump forward to the next heading! As I was looking into word length and frequency, I came across <a href="https://www.mdpi.com/1099-4300/22/2/224/htm">a 2019 paper</a> with a new suggestion about how to quantify the brevity law. It was written by Álvaro Corral and Isabel Serra at the Centre de Recerca Matemàtica in Barcelona <a href="#ref3">[3]</a>. They go through a pretty daunting (to me) analysis that culminates in a formulation of the brevity law in terms of conditional distributions of the probability mass function of type length and frequency. To break that down a little, (joint) probability mass is just the likelihood of choosing a word with a given length and frequency. So like, "what fraction of answers are five letters long and appear in 12 puzzles?" If that sounds like the histogram above, it should -- the histogram is basically a binned PMF. The "conditional" PMF in this case means the likelihood of choosing a word of a given frequency, where you're choosing from all words of a <em>particular length</em>. So like, "what fraction of 5-letter words appear in 12 puzzles?" For crosswords, they look like this:</p>

<graph-loader data-id="lengthFrequencyPmfLengthConditionals" data-src="api/figures/lengthFrequencyPmfLengthConditionals">
  <graph-log-axis-checkbox data-checked="true"></graph-log-axis-checkbox>
</graph-loader>

<p>You can hide and show different lines using the legend. One of Corral and Serra's key observations is that these conditional probability distributions are roughly the same shape. If I'm understanding right, they use a scaling analysis to come up with a number that describes how the shapes relate to one another. That number is one way to quantify the brevity law. Really I ought to run a scaling analysis on the crossword data too, but just by eyeballing it, things look a little wrong. In particular, the low-frequency domain scales differently than the high. As length increases, the y-intercept goes up, while the x-intercept goes down. This makes a lot of sense to me, and I think maybe the reason it isn't addressed in the paper is that they largely ignore the < 10 frequency domain. Anyway, I'd love to dig into this analysis a little more but I think it's outside our scope for now. Do reach out if you have thoughts!</p>

<p>One last note: the authors also talk about the PMF's <em>marginal</em> distributions, which end up being pretty helpful for understanding what's going on with the brevity law. Marginals are the sum probability for each variable. The frequency marginal basically reduces to Zipf's Law, which you can read more about <a href="/how-common-is-era#statisticalNotes">in its own post</a>! The length marginal is the sum of the PMF across all frequencies for each length. In other words, how likely it is to pick an answer of a given length:</p>

<graph-loader data-id="lengthFrequencyPmfLengthMarginal" data-src="api/figures/lengthFrequencyPmfLengthMarginal">
  <graph-log-axis-checkbox data-axes="y"></graph-log-axis-checkbox>
</graph-loader>

<p>It turns out this is a pretty commonly examined distribution in its own right. But before we can talk about it, we need to define a couple of terms.</p>

<h3 id="tokensAndTypes">Tokens and types</h3>

<p>Ok so when we talk about "picking an answer" from the corpus, it's not actually so simple. You can count answers two different ways -- either the <em>total</em> number of answers with length, say, four, OR the number of different <em>distinct words</em> with length four that show up as answers. Do you count OLEO 245 times or just once? You'll hear a range of terms for these concepts, like word "occurrences" (total) vs. "dictionary" words (distinct), or "tokens" (total) vs. "types" (distinct). Here's a graph of tokens and types:</p>

<graph-loader data-id="lengthTypesAndTokens" data-src="api/figures/lengthTypesAndTokens">
  <graph-log-axis-checkbox data-axes="y"></graph-log-axis-checkbox>
</graph-loader>

<p>Remember that the PMF earlier was the "probability mass function of <em>type</em> length and frequency?" It used <em>types</em>, distinct words. And hey, the length marginal distribution from earlier looks exactly like the "types" curve here (if it's hard to make out, try hiding the "tokens" curve by clicking on it in the legend). It says, for example, that there have been more <em>distinct</em> seven-letter answers than any other length. The "tokens" curve, on the other hand, counts duplicates multiple times. It peaks at four, meaning the NYT crossword asks you for a four-letter answer more often than any other length.</p>

<p>These two curves show up a fair amount in the literature. According to some papers, they should both fit a lognormal distribution <a href="#ref4">[4]</a> <a href=" #ref5">[5]</a>, although others contest this <a href="#ref3">[3]</a>. Linguists were running this kind of analysis in 1958 <a href="#ref6">[6]</a> and still running it in 2012 <a href="#ref7">[7]</a>. Here's how crosswords compare to a reference English corpus:</p>

<graph-loader data-id="lengthTypesAndTokensCombined" data-src="api/figures/lengthTypesAndTokensCombined">
  <graph-log-axis-checkbox data-axes="y+y2"></graph-log-axis-checkbox>
</graph-loader>

<p>(Aside: choosing a reference corpus is a delicate business. I'm using a <a href="https://github.com/IlyaSemenov/wikipedia-word-frequency">frequency list of english wikipedia words gathered in 2019</a> to represent written english, but there are <a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists">a ton of other great resources</a>. If anyone wants to buy me a COCA license, be my guest!)</p>

<p>The data line up pretty well! The "types" curves both have a primary peak around seven letters. The tokens look fairly similar too, with early peaks that fall off pretty quickly.</p>

<p>But we can recognize some characteristically "crossword-y" things. Words longer than seven letters are mostly underrepresented in the crossword corpus, which makes sense, since they can be harder to fit into a grid. There are relatively more types of lengths three to six, which might reflect that crosswords use a lot of abbreviations. The crossword tokens distribution is shifted towards towards the long end because crosswords generally don't have one or two letter answers, while one and two letter words are very common in normal english. There are noticeable spikes in the crossword curves at length 15, the width/height of a normal weekday puzzle, and 21, the width/height of a sunday puzzle. There are also smaller spikes at 23 and 25, other semi-common grid sizes. As you'd imagine, puzzle creators like to use answers as wide/tall as the grid itself -- check out <a href="https://www.xwordinfo.com/Stacks">this page</a> for some impressive 15-letter-loving puzzles!</p>

<h3>Answer repetition</h3>

<p>So what can we say about repeated answers in the crossword? Well, let's go back to the brevity law. One way to think about it goes like this. There are <em>26<sup>3</sup> = 17,576</em> possible words of length three (using a 26 letter alphabet) and <em>26<sup>6</sup> = 308,915,776</em> possible six-letter words. Let's say in a given corpus there are 1000 three-letter words and 1000 six-letter word. The 1000 three-letter words come from a smaller pool of possible three-letter words, so each word has a tendency to show up more often.</p>

<p>We can apply the same thinking to the crossword corpus. Take a look back at the tokens and types curves. Anywhere that the tokens curve is high, we're using a lot of words of that length. Anywhere that the types curve is low, there aren't all that many distinct words to choose from. The bigger the gap between the two lines, the more times some answer of that length must have been repeated. It doesn't tell us about the distribution -- OLEO could have shown up hundreds of thousands of times and all other four-letter answers just once -- but it's a start!</p>

<p>Toggle on the "tokens - types" trace to look at one measure of repetition. It's highest at lengths three to five, which should come as no surprise given the table of common words at the beginning of this post. But if you zoom in to the long-answer end of the graph, you may notice that the difference doesn't actually hit zero until 21, which means some really long answers have actually showed up more than once! Here's a list of some oft-repeated long answers:</p>

<table-loader data-id="mostFrequentLongAnswers" data-src="api/figures/mostFrequentLongAnswers"></table-loader>

<p>Almost all of these are phrases or proper nouns. It would seem that constructors, just like the rest of us, love Leonardo Da Vinci, Arturo Toscanini, and, of course, Grover Cleveland. The BLANKBLANK... answers are from a 2015 puzzle with the word BLANK as a rebus in every square around the perimeter of the puzzle. Just goes to show that language is a little weird in crossword puzzles. Answers can be made up of many words or fake words. And don't forget that a lot of the phenomena we've seen arise partly from the NYT's rules, which specify things like a minimum word count (incentivizing longer words) and diagonal symmetry (perhaps causing a more regular or characteristically shaped word length distribution).</p>

<p>Anyway, that's all for now, thanks for sticking around til the end!</p>

<h3>References</h3>

<p id="ref1">[1] <a href="https://books.google.com/books/about/Word_Frequency_Studies.html?id=OkDy0RJOwiAC">Popescu, I.I., G., Altmann, R., Kohler, P., Grzybek, and B.D., Jayaram. Word Frequency Studies. Mouton de Gruyter, 2009.</a></p>
<p id="ref2">[2] <a href="https://www.springer.com/gp/book/9780792370178">Baayen, R. Harald. Word Frequency Distributions. Springer Netherlands, 2001.</a></p>
<p id="ref3">[3] <a href="https://www.mdpi.com/1099-4300/22/2/224/htm">Corral, Álvaro; Serra, Isabel. 2020. "The Brevity Law as a Scaling Law, and a Possible Origin of Zipf’s Law for Word Frequencies" Entropy 22, no. 2: 224. https://doi.org/10.3390/e22020224</a></p>
<p id="ref4">[4] <a href="https://academic.oup.com/biomet/article-abstract/45/1-2/222/264683">HERDAN, G.. "THE RELATION BETWEEN THE DICTIONARY DISTRIBUTION AND THE OCCURRENCE DISTRIBUTION OF WORD LENGTH AND ITS IMPORTANCE FOR THE STUDY OF QUANTITATIVE LINGUISTICS".Biometrika 45, no.1-2 (1958): 222-228.</a></p>
<p id="ref5">[5] <a href="https://royalsocietypublishing.org/doi/10.1098/rsos.191023">Torre Iván G., Luque Bartolo, Lacasa Lucas, Kello Christopher T. and Hernández-Fernández Antoni. 2019. On the physical origin of linguistic laws and lognormality in speech. R. Soc. open sci.6191023191023</a></p>
<p id="ref6">[6] <a href="https://www.sciencedirect.com/science/article/pii/S0019995858902298">G.A. Miller, E.B. Newman, & E.A. Friedman (1958). Length-frequency statistics for written English. Information and Control, 1(4), 370-389.</a></p>
<p id="ref7">[7] <a href="https://arxiv.org/pdf/1207.2334.pdf">Reginald D. Smith. "Distinct word length frequencies: distributions and symbol entropies." (2012).</a></p>
